<body>
<div style="font-family: 'Verdana', sans-serif;background-color: #fff;color: #504538;display: block; padding: 20px">   
    <div style="width: 100%;text-align:center;clear: both; margin: 0 auto;">
        <h1 style="color:#ffad26">Uati!</h1>
        <p>{{.Message}}</p>
		<h2>Olha o que separamos para você {{ .TargetName }}</h2>
    </div>
    <div style="width: 40%;text-align: center;margin: 0 auto">
        <h3 style="color:#cf8500">Direto do topo!</h3>
    <ul style="list-style: none;padding:0;margin: 20px;">
		{{range.TopNames}}
		<li style="background-color: #00b0b6;color:#fff;padding: 2px;margin:1px;">{{.}}</li>
		{{end}}
    </ul>
        <h3 style="color:#cf8500">Novas possibilidades:</h3>
	<ul style="list-style: none;padding:0;margin:20px;">
		{{range.Names}}
		<li style="background-color: #00b0b6;color:#fff;padding: 2px;margin: 1px">{{.}}</li>
		{{end}}
    </ul>
    <a style="padding: 10px;font-size: 110%; color: #504538;background-color:#ffad26; border:1px solid #504538;  text-decoration: none;border-radius: 5px;" href="{{ .Link }}">Acessar Agora!</a>
    </div>
</div>
</body>